body {
    font-family: Lato;
    color: white;
}
.vignette {
    display: flex;
    flex-direction: column;
    background-image: url(../images/rectangle_2018-06-07/rectangle@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 800px;
}
.nice {
    position: relative;
    height: 176px;
    width: 640px;
    margin: 40px 80px auto;
    ;
    background-color: rgba(74, 74, 74, 0.55);
}
.nice > h1 {
    font-size: 48px;
    padding-left: 40px;
}
.details {
    font-size: 32px;
    position: relative;
    padding-left: 40px;
    bottom: 32px;
}
li {
    display: inline;
}
li:first-child::after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
    background: #ffffff;
}
.cadeau {
    position: absolute;
    top: 58px;
    right: 80px;
    height: 60px;
    width: 60px;
    background-image: url(../images/cadeau.svg);
}
.offre {
    display: flex;
    height: 77px;
    width: 337px;
    margin: auto 80px 40px auto;
    border-radius: 25px;
    background-color: rgba(74, 144, 226, 0.40);
    border: solid 2px;
}
.offre > h2 {
    margin: auto;
}
.offre::after {
    content: '';
    display: block;
    background-image: url(../images/chevron.svg);
    margin: auto;
    height: 20px;
    width: 12px;
}
h1 {
    font-weight: bold;
}

/*Media query */

@media screen and (max-width: 800px) {
    .vignette {
        width: auto;
    }
    .nice {
        width: 80%;
    }
    .cadeau
}
